.back-btn {
  margin-bottom: 20px;
  background-color: rgb(34, 40, 49);
  padding: 10px 15px;
  border: 2px solid rgb(34, 40, 49);
  border-radius: 18px;
}

.back-btn:hover {
  border: 2px solid white;
  cursor: pointer;
}

.movie-page {
  display: flex;
  gap: 35px;
}

.movie-info {
  display: flex;
  flex-direction: column;
}

.movie-page .movie-info .movie-title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
}

.movie-page .movie-info .movie-duration {
  margin-left: 6px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
}

.movie-page .movie-info .watch-now {
  background-color: rgb(34, 40, 49);
  padding: 12px 26px;
  border-radius: 20px;
  font-size: 24px;
  border: 2.5px solid rgb(34, 40, 49);
}

.movie-page .movie-info .watch-now:hover {
  background-color: rgb(34, 40, 49);
  border: none;
  padding: 12px 26px;
  border-radius: 20px;
  font-size: 24px;
  border: 2.5px solid white;
  cursor: pointer;
}

.movie-info .erase {
  margin-top: 30px;
  background-color: rgb(0, 173, 181);
  color: rgb(34, 40, 49);
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
}

.movie-explanation .movie-detail {
  line-height: 36px;
  margin-top: 24px;
  font-size: 22px;
  margin-bottom: 30px;
}

.movie-review {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.movie-review h3 {
  font-size: 28px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.movie-review textarea {
  width: 70%;
  height: 140px;
  resize: none;
  background-color: rgb(34, 40, 49);
  padding: 14px 10px;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
  border-radius: 25px;
}

.movie-review .submit-btn {
  background-color: rgb(34, 40, 49);
  border: 2px solid rgb(34, 40, 49);
  align-self: flex-start;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 18px;
}

.movie-review .submit-btn:hover {
  background-color: rgb(34, 40, 49);
  border: 2px solid white;
  align-self: flex-start;
  padding: 10px 20px;
  border-radius: 18px;
  cursor: pointer;
}
